body {
    margin: auto;
    max-width: 62em;
    padding: 2em 1em;
    font-family: sans-serif;
    background-color: lightblue;
}

.content {
    margin: 1em 0;
    padding: 1em;
    background-color: rgb(218, 229, 233);
}

.session-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.session-nav {
  text-align: right;
  display: flex;
}

.session-info p,
.session-info .placeholder {
  min-width: 150px;
  margin: 0;
}

.main-nav {
  text-align: center;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  padding: 0 1em;
  margin: 0;
}

nav li:not(:last-of-type) {
  border-right: 1px solid black;
}

a.active {
  font-weight: bold;
  text-decoration: underline;
  color: #000000;
}

.aquarium-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    padding: 0;
    list-style-type: none;
}

.aquarium {
    display: flex;
    flex-direction: column;
    width: 450px;
    background-color: #f9f9f9;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    overflow: hidden;
    text-decoration: none;         /* remove underline */
    color: inherit;                /* inherit text color */
    transition: transform 0.1s;
}

.aquarium:hover {
    transform: scale(1.02);
}

.aquarium img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.aquarium-content {
  padding: 15px;
  text-align: center;
}

.aquarium-content h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #333;
}

.aquarium-content p {
    margin: 5px 0 0;
    font-size: 0.95rem;
    color: #666;
}

.aquarium-content a {
    text-decoration: none;
    color: #0077cc;
    font-weight: bold;
}

.pages {
    text-align: center;
}

img {
    max-width: 55em;
}
