<ul class="aquarium-list">
  {% for aquarium in aquariums %}
    <li class="aquarium" >
      <a class="aquarium-link" href="/aquarium/{{ aquarium.id }}">
        <div class="main-image">
          {% if aquarium.main_image_id %}
            <img src="/image/{{ aquarium.main_image_id }}" alt="Akvaarion {{ aquarium.name }} pääkuva">
          {% else %}
            <div class="no-image">Ei kuvaa</div>
          {% endif %}
          <div class="image-overlay">
            Kommentteja: {{ aquarium.comment_count }}
          </div>
        </div>
        <div class="aquarium-content">
          <h3>{{ aquarium.name }}</h3>
          <div class="aquarium-info">
            {{ aquarium.volume }} litraa ({{ aquarium.length }}x{{ aquarium.depth }}x{{ aquarium.height }} cm)<br />
            Pystytetty:
            {% if aquarium.date %}
              {{ aquarium.date[8:10] }}-{{ aquarium.date[5:7] }}-{{ aquarium.date[:4] }}<br />
              {% if aquarium.age_years == 1 %}
                (1 vuosi ja {{ aquarium.age_days }} päivää sitten)
              {% elif aquarium.age_years > 1 %}
                ({{ aquarium.age_years }} vuotta ja {{ aquarium.age_days }} päivää sitten)
              {% else %}
                ({{ aquarium.age_days }} päivää sitten)
              {% endif %}
            {% else %}
              <i>ei ilmoitettu</i>
            {% endif %}<br />
            {% if aquarium.species_count == 0 %}
              <i>ei eläimiä</i>
            {% elif aquarium.species_count == 1 and aquarium.total_individuals == 1 %}
              1 laji (1 yksilö)
            {% elif aquarium.species_count == 1 %}
              1 laji ({{ aquarium.total_individuals }} yksilöä)
            {% else %}
              {{ aquarium.species_count }} lajia ({{ aquarium.total_individuals }} yksilöä)
            {% endif %}
          </div>
          <div class="aquarium-classes">
            {% if aquarium.selected_classes %}
              <ul>
                {% for item in aquarium.selected_classes.split(', ') %}
                  <li>{{ item }}</li>
                {% endfor %}
              </ul>
            {% else %}
              <i>ei luokkia</i>
            {% endif %}
          </div>
        </div>
      </a>
      {% if current_page not in ["userpage", "own_userpage"] %}
        <p class="aquarium-owner">
          Omistaja <a href="/user/{{ aquarium.user_id }}">{{ aquarium.username }}</a>
        </p>
      {% endif %}
    </li>
  {% endfor %}
</ul>