<!DOCTYPE html>
<html>

<head>
  <title>Muokkaa eläintä</title>
</head>

<body>
  {% include "session_info.html" %}
  {% include "navigation_bar.html" %}

  <h1>Muokkaa eläintä</h1>
  <form action="/update_critter" method="post">
    <p>
      <label for="species">Laji</label>:<br />
      <input type="text" id="species" name="species" size="50" maxlength="100" value="{{ critter.species }}" required />
    </p>
    <p>
      <label for="count">Eläinten lukumäärä</label>:<br />
      <input type="number" id="count" name="count" size="5" min="1" max="9999" value="{{ critter.count }}" required />
    </p>
    <p>
      <label for="aquarium">Akvaario</label>: <br />
      <select id="aquarium" name="aquarium_id">
        {% for aquarium in aquariums %}
          <!-- Show the current aquarium of the critter as the default value-->
          <option value="{{ aquarium['id'] }}" {% if aquarium['id'] == critter.aquarium_id %}selected{% endif %}>
            {{ aquarium['name'] }}
          </option>
        {% endfor %}
      </select>
    </p>

    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="hidden" name="critter_id" value="{{ critter.id }}" />
    <input type="submit" name="submit" value="Tallenna" />
  </form>

  <p>
    <a href="/aquarium/{{ critter.aquarium_id }}">Takaisin (peruuta)</a>
  </p>

</body>

</html>
