<!DOCTYPE html>
<html>

<head>
  <title>Muokkaa akvaariota</title>
</head>

<body>

  {% include "session_info.html" %}
  {% include "navigation_bar.html" %}

  <h1>Muokkaa akvaariota</h1>
  <form action="/update_aquarium" method="post">
    <p>
      Akvaarion nimi: <br />
      <input type="text" name="name" size="50" value="{{ aquarium.name }}" required />
    </p>

    <p>
      Mitat (leveys x syvyys x korkeus): <br />
      <input type="number" name="length" size="5" min="1" max="9999" value="{{ aquarium.length }}" required /> x
      <input type="number" name="depth" size="5" min="1" max="9999" value="{{ aquarium.depth }}" required /> x
      <input type="number" name="height" size="5" min="1" max="9999" value="{{ aquarium.height }}" required /> cm
    </p>

    <p>
      Akvaarion pystytyspäivämäärä: <br />
      <input type="date" name="date" value="{{ aquarium.date }}" />
    </p>

    <p>
      Muuta: <br />
      <textarea name="description" rows="10" cols="60">{{ aquarium.description }}</textarea>
    </p>

    <!-- hidden field to pass on the aquarium id -->
    <input type="hidden" name="aquarium_id" value="{{ aquarium.id }}" />
    <input type="submit" name="save" value="Tallenna muutokset" />
    <input type="submit" name="cancel" value="Peruuta" />
  </form>

</body>

</html>