<!DOCTYPE html>
<html>

<head>
  <title>Akvaarion kuvat</title>
</head>

<body>
  {% include "session_info.html" %}
  {% include "navigation_bar.html" %}

  <h1>Akvaarion <i>{{ aquarium.name }}</i> kuvat</h1>

  <p>
    Kuvia: {{ images | count }} kpl
  </p>

  <form action="/remove_images" method="post">
    {% for image in images %}
      <input type="checkbox" name="image_id" value="{{ image.id }}" />
      <img src="/image/{{ image.id }}" alt="Akvaarion kuva" />
      <br />
    {% endfor %}
    <p>
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      <input type="hidden" name="aquarium_id" value="{{ aquarium.id }}" />
      <input type="submit" value="Poista valitut" />
    </p>
  </form>

  <h2>Lisää uusi kuva</h2>
  <form action="/add_image" method="post" enctype="multipart/form-data">
    <p>
      <label for="image">Kuva</label>:
      <input type="file" id="image" name="image" accept=".png" />
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="hidden" name="aquarium_id" value="{{ aquarium.id }}" />
    <input type="submit" value="Lähetä" />
  </form>

  {% for message in get_flashed_messages() %}
    <p>
      <b>{{ message }}</b>
    </p>
  {% endfor %}

  <p>
    <a href="/aquarium/{{ aquarium.id }}">Takaisin</a>
  </p>

</body>

</html>
