<!DOCTYPE html>
<html>

<head>
  <title>Tosi hyvä akvaariosovellus</title>
</head>

<body>
  {% include "session_info.html" %}

  {% for message in get_flashed_messages() %}
    <p>
      <b>{{ message }}</b>
    </p>
  {% endfor %}

  <h1>Akvaariot</h1>
  {% include "navigation_bar.html" %}

  <h2>Kaikki akvaariot</h2>
  <ul>
    {% for aquarium in aquariums %}
      <li>
        <a href="/aquarium/{{ aquarium.id }}"> {{ aquarium.name }}</a>, {{ aquarium.volume }} litraa
      </li>
    {% endfor %}
  </ul>

</body>

</html>
