<!DOCTYPE html>
<html>

<head>
  <title>Tosi hyvä akvaariosovellus</title>
</head>

<body>
  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }} <a href="/logout">Kirjaudu ulos</a>
  </p>
  <p>
    <a href="">Omat akvaariot</a>
    <a href="/new_aquarium">Luo uusi akvaario</a>
  </p>
  {% else %}
  <p>
    <a href="/login">Kirjaudu sisään</a>
    <a href="/register">Luo tunnus</a>
  </p>
  {% endif %}

  <h1>Akvaariot</h1>
  <h2>Kaikki akvaariot</h2>
  <ul>
    {% for aquarium in aquariums %}
    <li><a href="/aquarium/{{ aquarium.id }}"> {{ aquarium.name }}</a>, {{ aquarium.volume }} litraa</li>
    {% endfor %}
  </ul>
</body>

</html>
