{% extends "layout.html" %}

{% block title %}Akvaariot{% endblock %}

{% block content %}
  <h2>Kaikki akvaariot ({{ aquarium_count }} kpl)</h2>
  {% include "aquarium_list.html" %}

  {% if page_count > 1 %}
    <div class="page-nav">
      <a class="button small" href="/{{ 1 }}">ensimmäinen</a>
      <a class="button small" href="/{{ page - 1 }}">&lt;&lt;</a>
      Sivu {{ page }}/{{ page_count }}
      <a class="button small" href="/{{ page + 1 }}">&gt;&gt;</a>
      <a class="button small" href="/{{ page_count }}">viimeinen</a>
    </div>
  {% endif %}
{% endblock %}
