<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div class="user-bar sticky header">
    <div class="user-bar-wrapper">
      {% if session.username %}
        <div class="user-info">
          Olet kirjautunut nimellä
          <a href="/user/{{ session.user_id }}">{{ session.username }}</a>
        </div>
        <nav class="user-nav">
          <ul>
            <li><a href="/logout">Kirjaudu ulos</a></li>
          </ul>
        </nav>
      {% else %}
        <div class="user-placeholder"></div> <!-- empty placeholder -->
        <nav class="user-nav">
          <ul>
            <li class="{% if current_page == 'login' %}active{% endif %}">
              <a href="/login">
                Kirjaudu sisään
              </a>
            </li>
            <li class="{% if current_page == 'register' %}active{% endif %}">
              <a href="/register">
                Luo tunnus
              </a>
            </li>
          </ul>
        </nav>
      {% endif %}
    </div>
  </div>

  <div class="header">
    <h1>Akvaariot</h1>
  </div>

  <div class="nav-bar sticky header">
    <nav class="primary-nav">
      <ul>
        <li class="{% if current_page == 'index' %}active{% endif %}">
          <a href="/">
            Etusivu
          </a>
        </li>
        <li class="{% if current_page == 'search' %}active{% endif %}">
          <a href="/search">
            Haku
          </a>
        </li>
        {% if session.username %}
          <li class="{% if current_page == 'userpage' %}active{% endif %}">
            <a href="/user/{{ session.user_id }}">
              Omat akvaariot
            </a>
          </li>
          <li class="{% if current_page == 'new_aquarium' %}active{% endif %}">
            <a href="/new_aquarium">
              Luo uusi akvaario
            </a>
          </li>
          <li class="{% if current_page == 'new_critter' %}active{% endif %}">
            <a href="/new_critter">
              Lisää uusi eläin
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>

  <div class="content">
    <div class="flash-msg">
      {% for category, message in get_flashed_messages(with_categories=true) %}
        <p class="flash {{ category }}">
          {{ message }}
        </p>
      {% endfor %}
    </div>

    {% block content %}{% endblock %}
  </div>

</body>

</html>
