<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div class="header">
    <div class="session-info">
      {% if session.username %}
        <div class="user-info">Olet kirjautunut nimellä <a href="/user/{{ session.user_id }}">{{ session.username }}</a></div>
        <nav class="session-nav">
          <ul>
            <li><a href="/logout">Kirjaudu ulos</a></li>
          </ul>
        </nav>
      {% else %}
        <div class="placeholder"></div> <!-- empty placeholder -->
        <nav class="session-nav">
          <ul>
            <li><a href="/login" class="{% if current_page == 'login' %}active{% endif %}">Kirjaudu sisään</a></li>
            <li><a href="/register" class="{% if current_page == 'register' %}active{% endif %}">Luo tunnus</a></li>
          </ul>
        </nav>
      {% endif %}
    </div>

    <h1>Akvaariot</h1>

    <nav class="main-nav">
      <ul>
        <li><a href="/" class="{% if current_page == 'index' %}active{% endif %}">Etusivu</li></a>
        <li><a href="/search" class="{% if current_page == 'search' %}active{% endif %}">Haku</a></li>
        {% if session.username %}
          <li><a href="/user/{{ session.user_id }}" class="{% if current_page == 'userpage' %}active{% endif %}">Omat akvaariot</a></li>
          <li><a href="/new_aquarium" class="{% if current_page == 'new_aquarium' %}active{% endif %}">Luo uusi akvaario</a></li>
          <li><a href="/new_critter" class="{% if current_page == 'new_critter' %}active{% endif %}">Lisää uusi eläin</a></li>
        {% endif %}
      </ul>
    </nav>

    <div class="flash-msg">
      {% for message in get_flashed_messages() %}
        <p>
          <b>{{ message }}</b>
        </p>
      {% endfor %}
    </div>
  </div>

  <div class="content">
    {% block content %}{% endblock %}
  </div>

</body>

</html>
