{% extends "layout.html" %}

{% block title %}Kirjautuminen{% endblock %}

{% block content %}
  <h2>Kirjaudu sisään</h2>
  <form action="/login" method="post">
    <p>
      <label for="username">Tunnus</label>:<br />
      <input id="username" type="text" name="username" value="{{ filled.username }}" maxlength="{{ username_max }}" required />
    </p>
    <p>
      <label for="password">Salasana</label>:<br />
      <input type="password" name="password" maxlength="{{ password_max }}" required />
    </p>
    <input class="button" type="submit" value="Kirjaudu" />
  </form>
{% endblock %}
