<!DOCTYPE html>
<html>

<head>
  <title>Kirjautuminen</title>
</head>

<body>
  <p>
    <a href="/register">Luo tunnus</a>
  </p>

  {% include "navigation_bar.html" %}

  <form action="/login" method="post">
    <p>
      <label for="username">Tunnus</label>:<br />
      <input id="username" type="text" name="username" minlength="1" maxlength="50" required />
    </p>
    <p>
      <label for="password">Salasana</label>:<br />
      <input type="password" name="password" minlength="1" maxlength="50" required />
    </p>

    <input type="submit" value="Kirjaudu" />
  </form>

</body>

</html>
