{% extends "layout.html" %}

{% block title %}Kirjautuminen{% endblock %}

{% block content %}
  <form action="/login" method="post">
    <p>
      <label for="username">Tunnus</label>:<br />
      <input id="username" type="text" name="username" minlength="1" maxlength="50" required />
    </p>
    <p>
      <label for="password">Salasana</label>:<br />
      <input type="password" name="password" minlength="1" maxlength="50" required />
    </p>
    <input type="submit" value="Kirjaudu" />
  </form>
{% endblock %}
