<!DOCTYPE html>
<html>

<head>
  <title>Lisää uusi eläin</title>
</head>

<body>
  {% include "session_info.html" %}
  {% include "navigation_bar.html" %}

  <h1>Uusi eläin</h1>
  <form action="/create_critter" method="post">
    <p>
      Laji: <br />
      <input type="text" name="species" size="50" maxlength="100" required />
    </p>
    <p>
      Eläinten lukumäärä: <br />
      <input type="number" name="count" size="5" min="1" max="9999" value="1" required />
    </p>
    <p>
      Akvaario: <br />
      <select name="aquarium_id">
        {% for aquarium in aquariums %}
          <option value="{{ aquarium['id'] }}">{{ aquarium['name'] }}</option>
        {% endfor %}
      </select>
    </p>

    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" name="submit" value="Lisää eläin" />
  </form>

</body>

</html>
