<!DOCTYPE html>
<html>

<head>
  <title>Luo akvaario</title>
</head>

<body>
  {% include 'session_info.html' %}
  <h1>Uusi akvaario</h1>
  <form action="/create_aquarium" method="post">
    <p>
      Akvaarion nimi: <br />
      <input type="text" name="name" />
    </p>
    <p>
      Mitat (leveys x syvyys x korkeus): <br />
      <input type="number" name="length" size="5" min="0" value="100" /> x 
      <input type="number" name="depth" size="5" min="0" value="40" /> x 
      <input type="number" name="height" size="5" min="0" value="40" /> cm
    </p>
    <p>
      Muuta: <br />
      <textarea name="description" rows="10" cols="60"></textarea>
    </p>
    <input type="submit" value="Luo akvaario" />
  </form>
</body>

</html>