<!DOCTYPE html>
<html>

<head>
  <title>Rekisteröinti</title>
</head>

<body>

  <p>
    <a href="/login">Kirjaudu sisään</a>
  </p>

  {% include "navigation_bar.html" %}

  <form action="/register" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username" value="{{ filled.username }}" minlength="1" maxlength="50" required />
    </p>

    <p>
      Salasana: <br />
      <input type="password" name="password1" minlength="1" maxlength="50" required />
    </p>

    <p>
      Salasana uudestaan: <br />
      <input type="password" name="password2" minlength="1" maxlength="50" required />
    </p>

    <input type="submit" value="Luo tunnus" />
  </form>

  {% for message in get_flashed_messages() %}
  <p>
    <b>{{ message }}</b>
  </p>
  {% endfor %}

</body>

</html>
