{% extends "layout.html" %}

{% block title %}Luo tunnus{% endblock %}

{% block content %}
  <h2>Luo uusi tunnus</h2>
  <form action="/register" method="post">
    <p>
      <label for="username">Tunnus</label>:<br />
      <input type="text" id="username" name="username" value="{{ filled.username }}" maxlength="{{ username_max }}" required />
    </p>
    <p>
      <label for="password1">Salasana</label>:<br />
      <input type="password" id="password1" name="password1" maxlength="{{ password_max }}" required />
    </p>
    <p>
      <label for="password2">Salasana uudestaan</label>:<br />
      <input type="password" id="password2" name="password2" maxlength="{{ password_max }}" required />
    </p>

    <input class="button" type="submit" value="Luo tunnus" />
  </form>
{% endblock %}
