<!DOCTYPE html>
<html>

<head>
  <title>Poista akvaario</title>
</head>

<body>
  {% include "session_info.html" %}
  {% include "navigation_bar.html" %}

  <h1>Haluatko varmasti poistaa akvaarion "{{ aquarium.name }} ({{ aquarium.volume }} litraa)"?</h1>

  <form action="/remove_aquarium/{{ aquarium.id }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" name="remove" value="Poista" />
  </form>

  <p>
    <a href="/aquarium/{{ aquarium.id }}">Takaisin (peruuta)</a>
  </p>

</body>

</html>
