{% extends "layout.html" %}

{% block title %}Poista eläimet{% endblock %}

{% block content %}
  <h2>Haluatko varmasti poistaa kaikki eläimet akvaariosta {{ aquarium.name }}?</h2>

  <p>
    Eläimet:
    {% if critters %}
    <ul>
      {% for critter in critters %}
        <li>
          {{ critter.species }} ({{ critter.count }})
        </li>
      {% endfor %}
    </ul>
    {% endif %}

  <form action="/remove_critters/{{ aquarium.id }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" name="remove" value="Poista" />
  </form>

  <p>
    <a href="/aquarium/{{ aquarium.id }}">Takaisin (peruuta)</a>
  </p>
{% endblock %}
