{% extends "layout.html" %}

{% block title %}Poista eläin{% endblock %}

{% block content %}
  <h2>Haluatko varmasti poistaa eläimen?</h2>

  <p>Eläin: {{ critter.species }} ({{ critter.count }})</p>

  <form action="/remove_critter/{{ critter.id }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input class="button" type="submit" name="remove" value="Poista" />
  </form>

  <a class="button return" href="/aquarium/{{ critter.aquarium_id }}">Peruuta</a>
{% endblock %}
