{% extends "layout.html" %}

{% block title %}Poista akvaario{% endblock %}

{% block content %}
  <h2>Haluatko varmasti poistaa akvaarion "{{ aquarium.name }} ({{ aquarium.volume }} litraa)"?</h2>

  <form action="/remove_aquarium/{{ aquarium.id }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input class="button" type="submit" name="remove" value="Poista" />
  </form>

  <a class="button return" href="/aquarium/{{ aquarium.id }}">Peruuta</a>
{% endblock %}
