<!DOCTYPE html>
<html>

<head>
  <title>Poista akvaario</title>
</head>

<body>
  {% include "session_info.html" %}
  {% include "navigation_bar.html" %}

  <h1>Haluatko varmasti poistaa kommentin?</h1>

  <p>Kommenttisi:</p>
  <p>
    {{ comment.content }} <br />
    <i>{{ comment.sent_at }}</i>
  </p>

  <form action="/remove_comment/{{ comment.id }}?next={{ request.args.get('next') }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" name="remove" value="Poista" />
  </form>

  <p>
    <a href="{{ request.args.get('next', '/aquarium/' ~ comment.aquarium_id) }}">Takaisin (peruuta)</a>
  </p>

</body>

</html>
