{% extends "layout.html" %}

{% block title %}Haku{% endblock %}

{% block content %}
  <h2>Haku</h2>
  <form action="/search" method="get">
    <p>
      <label for="query">Hakusana</label>:
      {% if query %}
        <input type="text" id="query" name="query" value="{{ query }}" />
      {% else %}
        <input type="text" id="query" name="query" />
      {% endif %}
    </p>
    <input type="submit" value="Hae" />
  </form>

  {% if query %}
    <h3>Tulokset ({{ result_count }} kpl)</h3>
    <ul class="aquarium-list">
      {% if results %}
        {% for result in results %}
          <li>
            <a class="aquarium" href="/aquarium/{{ result.id }}">
              {% if result.main_image_id %}
                <img class="main-image" src="/image/{{ result.main_image_id }}" alt="Aquarium main image">
              {% else %}
                <div class="main-image">Ei kuvia</div>
              {% endif %}
              <div class="aquarium-content">
                <h3>{{ result.name }}</h3>
                <p>
                  {{ result.volume }} litraa, mitat<br />
                  eläinten ja lajien lukumäärä<br />
                  luokat<br />
                  omistaja jne.
                  <!-- more info -->
                </p>
              </div>
            </a>
          </li>
        {% endfor %}
      {% else %}
        Ei tuloksia hakusanalla {{ query }}
      {% endif %}
    </ul>

    <div class="pages">
      <a href="/search/{{ 1 }}?query={{ query }}">ensimmäinen</a>
      <a href="/search/{{ page - 1 }}?query={{ query }}">&lt;&lt;</a>
      Sivu {{ page }}/{{ page_count }}
      <a href="/search/{{ page - 1 }}?query={{ query }}">&gt;&gt;</a>
      <a href="/search/{{ page_count }}?query={{ query }}">viimeinen</a>
    </div>
  {% endif %}
{% endblock %}
