{% extends "layout.html" %}

{% block title %}Haku{% endblock %}

{% block content %}
  <h2>Haku</h2>
  <form action="/search" method="get">
    <div>
      <label for="query">Hakusana</label>:
      <input type="text" id="query" name="query" value="{{ filters.query or '' }}"
       placeholder="Akvaarion nimi, kuvaus, käyttäjätunnus tai niiden osa..." size="50" />
    </div>
    <div>
      <label for="species_query">Laji</label>:
      <input type="text" id="species_query" name="species_query" value="{{ filters.species_query or '' }}"
       placeholder="Hae lajin nimen tai sen osan perusteella..." size="50" />
    </div>
    <div>
      <label for="volume_min">Tilavuus (litraa, min):</label>
      <input type="number" id="volume_min" name="volume_min" value="{{ filters.volume_min or '' }}"
       placeholder="Esim. 300 litraa ja sitä suuremmat" size="30">
    </div>
    <div>
      <label for="volume_max">Tilavuus (litraa, max):</label>
      <input type="number" id="volume_max" name="volume_max" value="{{ filters.volume_max or '' }}"
       placeholder="Esim. 300 litraa ja sitä pienemmät" size="30">
    </div>
    <div>
      <label for="date_min">Päivämäärä (alkaen):</label>
      <input type="date" id="date_min" name="date_min" value="{{ filters.date_min or '' }}">
    </div>
    <div>
      <label for="date_max">Päivämäärä (asti):</label>
      <input type="date" id="date_max" name="date_max" value="{{ filters.date_max or '' }}">
    </div>

    {% for class in all_classes %}
      <div>
        <label for="class_{{ class }}">{{ class }}:</label>
        <select name="class_{{ class }}">
          <option value="">(tyhjä)</option>
          {% for option in all_classes[class] %}
            <option value="{{ option }}" {% if filters["class_" ~ class] == option %}selected{% endif %}>{{ option }}</option>
          {% endfor %}
        </select>
      </div>
    {% endfor %}

    <input class="button" type="submit" value="Hae" />
  </form>

  {% if result_count is defined %}
    <h3>Tulokset ({{ result_count }} kpl)</h3>
    {% if results %}
      {% set aquariums = results %}
      {% include "aquarium_list.html" %}
    {% else %}
      <p>Ei tuloksia hakuehdoilla</p>
    {% endif %}

    {% if page_count > 1 %}
      <div class="page-nav">
        {% set query_string = filters | urlencode %}
        <a href="/search/1?{{ query_string }}">ensimmäinen</a>
        <a href="/search/{{ page - 1 }}?{{ query_string }}">&lt;&lt;</a>
        Sivu {{ page }}/{{ page_count }}
        <a href="/search/{{ page + 1 }}?{{ query_string }}">&gt;&gt;</a>
        <a href="/search/{{ page_count }}?{{ query_string }}">viimeinen</a>
      </div>
    {% endif %}
  {% endif %}
{% endblock %}
