<!DOCTYPE html>
<html>

<head>
  <title>Akvaario: {{ aquarium.name }}</title>
</head>

<body>

  {% include "session_info.html" %}
  {% include "navigation_bar.html" %}

  <h1>Akvaario: {{ aquarium.name }}</h1>
  {% if session.user_id == aquarium.user_id %}
    <a href="/edit_aquarium/{{ aquarium.id }}">Muokkaa</a>
    <a href="/remove_aquarium/{{ aquarium.id }}">Poista</a>
  {% endif %}

  <p>
    Akvaarion omistaja: <a href="/user/{{ aquarium.user_id }}">{{ aquarium.username }}</a>
  </p>

  <p>
    Akvaarion tilavuus: {{ aquarium.volume }} litraa 
    ({{ aquarium.length }} x {{ aquarium.depth }} x {{ aquarium.height }} cm)
  </p>

  <p>
    Akvaarion pystytyspäivämäärä:
    {% if aquarium.date %}
    {{ aquarium.date[8:10] }}.{{ aquarium.date[5:7] }}.{{ aquarium.date[:4] }}<br />
    {% else %}
    <i>ei ilmoitettu</i>
    {% endif %}
  </p>

  {% if classes %}
  <p>
    Luokittelu:
    <ul>
      {% for class in classes %}
      <li>{{ class.title}}: {{ class.value }}</li>
      {% endfor %}
    </ul>
  </p>
  {% endif %}

  <p>
    Kuvaus:
    <p>{{ aquarium.description | show_lines }}</p>
  </p>

  <h2>Kommentit</h2>
  {% if comments %}
  <ul>
      {% for comment in comments %}
      <li>"{{ comment.comment | show_lines }}" <br />
        käyttäjältä <a href="/user/{{ comment.user_id }}">{{ comment.username }}</a>
      </li>
      {% endfor %}
    </ul>
  {% else %}
  <p>Ei vielä kommentteja</p>
  {% endif %}

  {% if session.username %}
  <h2>Lisää kommentti</h2>
  <form action="/create_comment" method="post">
    <textarea name="comment" rows="10" cols="60" maxlength="5000" required></textarea> <br />
    <input type="submit" value="Lähetä" />
    <input type="hidden" name="aquarium_id" value="{{ aquarium.id }}" />
  </form>
  {% endif %}

</body>

</html>
