<!DOCTYPE html>
<html>

<head>
  <title>Käyttäjä: {{ user.username }}</title>
</head>

<body>

  {% include "session_info.html" %}
  {% include "navigation_bar.html" %}

  <h1>Käyttäjä: {{ user.username }}</h1>
  {% if session.user_id == user.id %}
    Oma sivu!!
  {% endif %}

  <h2>Käyttäjän akvaariot</h2>
  {% if aquariums | count == 0 %}
    <p>Käyttäjällä ei ole akvaaarioita.</p>
  {% elif aquariums | count == 1 %}
    <p>Käyttäjällä on {{ aquariums | count }} akvaario.</br>
       Käyttäjän akvaariossa on {{ aquariums[0].volume }} litraa vettä.</p>
  {% else %}
    <p>Käyttäjällä on yhteensä {{ aquariums | count }} akvaariota.</br>
       Käyttäjän akvaarioissa on yhteensä {{ aquariums | sum(attribute="volume") }} litraa vettä.</p>
  {% endif %}

  <ul>
  {% for aquarium in aquariums %}
    <li><a href="/aquarium/{{ aquarium.id }}"> {{ aquarium.name }}</a>, {{ aquarium.volume }} litraa</li>
  {% endfor %}
  </ul>

</body>

</html>