{% extends "layout.html" %}

{% block title %}Käyttäjä: {{ user.username }}{% endblock %}

{% block content %}
  <h2>Käyttäjän {{ user.username }} akvaariot</h2>

  {% if session.user_id == user.id %}
    Oma sivu!!
  {% endif %}

  <p>
    {% if aquarium_count.count == 0 %}
      Käyttäjällä ei ole akvaaarioita.
    {% elif aquarium_count.count == 1 %}
      Käyttäjällä on 1 akvaario.</br>
      Käyttäjän akvaariossa on {{ aquarium_count.volume }} litraa vettä.
    {% else %}
      Käyttäjällä on yhteensä {{ aquarium_count.count }} akvaariota.</br>
      Käyttäjän akvaarioissa on yhteensä {{ aquarium_count.volume }} litraa vettä.
    {% endif %}
  </p>
  <p>
    {% if critter_counts.species == 0 %}
      Käyttäjällä ei ole eläimiä.
    {% elif critter_counts.species == 1 and critter_counts.individuals == 1 %}
      Käyttäjällä on 1 laji ja 1 yksilö.
    {% elif critter_counts.species == 1 and critter_counts.individuals > 1 %}
      Käyttäjällä on 1 laji ja {{ critter_counts.individuals }} yksilöä.
    {% else %}
      Käyttäjällä on yhteensä {{ critter_counts.species }} lajia ja {{ critter_counts.individuals }} yksilöä.
    {% endif %}
  </p>

  {% include "aquarium_list.html" %}

  <div class="pages">
    <a href="/user/{{ user.id }}/{{ 1 }}">ensimmäinen</a>
    <a href="/user/{{ user.id }}/{{ page - 1 }}">&lt;&lt;</a>
    Sivu {{ page }}/{{ page_count }}
    <a href="/user/{{ user.id }}/{{ page + 1 }}">&gt;&gt;</a>
    <a href="/user/{{ user.id }}/{{ page_count }}">viimeinen</a>
  </div>

{% endblock %}
