<!DOCTYPE html>
<html>

<head>
  <title>Akvaario: {{ aquarium.name }}</title>
</head>

<body>
  {% include 'session_info.html' %}
  <h1>Akvaario: {{ aquarium.name }}</h1>
  {% if session.user_id == aquarium.user_id %}
    <a href="/edit_aquarium/{{ aquarium.id }}">Muokkaa</a>
    <a href="/remove_aquarium/{{ aquarium.id }}">Poista</a>
  {% endif %}
  <p>
    Akvaarion omistaja: {{ aquarium.username }}
  </p>
  <p>
    Akvaarion tilavuus: {{ aquarium.volume }} litraa ({{ aquarium.length }} x {{ aquarium.depth }} x {{ aquarium.height }} cm)
  </p>
  <p>
    Kuvaus: {{ aquarium.description }}
  </p>
  <p>
    <a href="/">Etusivulle</a>
  </p>
</body>

</html>