{% extends "layout.html" %}

{% block title %}Akvaario: {{ aquarium.name }}{% endblock %}

{% block content %}
  <h2>Akvaario: {{ aquarium.name }}</h2>
  {% if session.user_id == aquarium.user_id %}
    <a class="button" href="/edit_aquarium/{{ aquarium.id }}">Muokkaa</a>
    <a class="button" href="/remove_aquarium/{{ aquarium.id }}">Poista</a>
    <a class="button" href="/images/{{ aquarium.id }}">Hallinnoi kuvia</a>
  {% endif %}

  {% set max_visible = 2 %}
  <input type="checkbox" id="toggle-images" hidden>
  <div class="aquarium-images">
    {% if main_image in images %}
      <div class="image-wrapper">
        <img class="aquarium-image main-image"
          src="/image/{{ main_image }}"
          alt="Akvaarion {{ aquarium.name }} pääkuva">
        <div class="image-overlay-text">Pääkuva</div>
      </div>
    {% endif %}

    {% set remaining_images = images | reject('equalto', main_image) %}
    {% for image in remaining_images %}
      <div class="image-wrapper {% if loop.index >= max_visible %} hidden{% endif %}">
        <img class="aquarium-image{% if main_image == image %} main-image{% endif %}"
          src="/image/{{ image }}"
          alt="Akvaarion {{ aquarium.name }} {% if main_image == image %}pää{% endif %}kuva">
      </div>
    {% endfor %}
  </div>
  {% if images|length > max_visible %}
    <label for="toggle-images" class="show-more-button button small">
      <span class="show-text">Näytä lisää (+{{ images|length - max_visible }})</span>
      <span class="hide-text">Piilota</span>
    </label>
  {% endif %}

  <p>
    Akvaarion omistaja: <a href="/user/{{ aquarium.user_id }}">{{ aquarium.username }}</a>
  </p>

  <p>
    Akvaarion tilavuus: {% if aquarium.volume == 1 %}1 litra{% else %}{{ aquarium.volume }} litraa{% endif %}
    ({{ aquarium.length }} x {{ aquarium.depth }} x {{ aquarium.height }} cm)
  </p>

  <p>
    Akvaarion pystytyspäivämäärä:
    {% if aquarium.date %}
      {{ aquarium.date[8:10] }}-{{ aquarium.date[5:7] }}-{{ aquarium.date[:4] }}
      {% if aquarium.age_years == 1 %}
        (1 vuosi ja {{ aquarium.age_days }} päivää sitten)
      {% elif aquarium.age_years > 1 %}
        ({{ aquarium.age_years }} vuotta ja {{ aquarium.age_days }} päivää sitten)
      {% else %}
        ({{ aquarium.age_days }} päivää sitten)
      {% endif %}<br />
    {% else %}
      <i>ei ilmoitettu</i>
    {% endif %}
  </p>

  <p>
    {% if classes %}
      Luokittelu:
      <ul>
        {% for class in classes %}
          <li>{{ class.title }}: {{ class.value }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </p>

  <div class="description">
    Kuvaus:
    {% if aquarium.description %}
      <p>{{ aquarium.description | show_lines }}</p>
    {% else %}
      <p><i>ei kuvausta</i></p>
    {% endif %}
  </div>

  <h3>Eläimet:</h3>
  <p>
    {% if critters %}
    <ul>
      {% for critter in critters %}
        <li>
          {{ critter.species }} ({{ critter.count }})
          {% if session.user_id == aquarium.user_id %}
            <a class="button small" href="/edit_critter/{{ critter.id }}">Muokkaa</a>
            <a class="button small" href="/remove_critter/{{ critter.id }}">Poista</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    {% else %}
      <i>Akvaario on tyhjä</i>
    {% endif %}

    {% if session.user_id == aquarium.user_id %}
      <p>
        <a class="button" href="/new_critter?aquarium_id={{ aquarium.id }}">Lisää eläin</a>
        {% if critters %}
        <a class="button" href="/remove_critters/{{ aquarium.id }}">Tyhjennä akvaario</a>
        {% endif %}
      </p>
    {% endif %}
  </p>

  <h3>Kommentit ({{ total_comments }} kpl)</h3>

  {% if session.username %}
    <h4>Lisää kommentti</h4>
    <form action="/create_comment" method="post">
      <textarea name="content" rows="10" cols="60" maxlength="{{ max_comment_length }}" required>{{ draft_comment }}</textarea> <br />
      <p class="help-text">
        Maksimipituus {{ max_comment_length }} merkkiä.
      </p>
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      <input type="hidden" name="aquarium_id" value="{{ aquarium.id }}" />
      <input class="button" type="submit" name="show_aquarium" value="Lähetä" />
    </form>
  {% endif %}

  <hr />
  {% if comments %}
    {% include "comments.html" %}
    {% if total_comments > max_comments %}
      <a class="button" href="/aquarium/{{ aquarium.id }}/comments">Näytä kaikki kommentit (+{{ total_comments - max_comments }})</a>
    {% endif %}
  {% else %}
    <p>Ei vielä kommentteja</p>
  {% endif %}
{% endblock %}
