{% extends "layout.html" %}

{% block title %}Kommentit: {{ aquarium.name }}{% endblock %}

{% block content %}
  <h2>Akvaarion {{ aquarium.name }} kaikki kommentit ({{ total_comments }} kpl)</h2>

  <p>
    <a class="button return" href="/aquarium/{{ aquarium.id }}">Takaisin</a>
  </p>

  {% if session.username %}
    <h3>Lisää kommentti</h3>
    <form action="/create_comment" method="post">
      <textarea name="content" rows="10" cols="60" maxlength="{{ max_comment_length }}" required>{{ draft_comment }}</textarea> <br />
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      <input type="hidden" name="aquarium_id" value="{{ aquarium.id }}" />
      <input class="button" type="submit" name="show_comments" value="Lähetä" />
    </form>
  {% endif %}

  {% if comments %}
    <hr />
    {% for comment in comments %}
      <p>
        <a href="/user/{{ comment.user_id }}">{{ comment.username }}</a> ({{ comment.sent_at }}):
      </p>
      <p>
        {{ comment.content | show_lines }}
      </p>
      {% if session.user_id == comment.user_id %}
        <a class="button small" href="/remove_comment/{{ comment.id }}?next=/aquarium/{{ aquarium.id }}/comments">Poista</a>
      {% endif %}
      <hr />
    {% endfor %}
  {% else %}
    <p>Ei vielä kommentteja</p>
  {% endif %}

  <p>
    <a href="/aquarium/{{ aquarium.id }}/comments/{{ page - 1 }}">&lt;&lt;</a>
    Sivu {{ page }}/{{ page_count }}
    <a href="/aquarium/{{ aquarium.id }}/comments/{{ page + 1 }}">&gt;&gt;</a>
  </p>
{% endblock %}
