{% extends "layout.html" %}

{% block title %}
  {{ "Oma sivu" if session.user_id == user.id else "Käyttäjä: " ~ user.username }}
{% endblock %}

{% block content %}
  <h2>
    {% if session.user_id == user.id %}
      Oma profiili
    {% else %}
      Käyttäjän <span>{{ user.username }}</span> profiili
    {% endif %}
  </h2>

  <div class="user-stats">
    {% if session.user_id == user.id %}
      {% set subject = "Sinulla" %}
    {% else %}
      {% set subject = "Käyttäjällä" %}
    {% endif %}

    {% if aquarium_count.count == 0 %}
      {{ subject }} ei ole akvaarioita.
    {% elif aquarium_count.count == 1 %}
      {{ subject }} on 1 akvaario, jossa on {{ aquarium_count.volume }} litraa vettä.
    {% else %}
      {{ subject }} on {{ aquarium_count.count }} akvaariota, joissa on yhteensä {{ aquarium_count.volume }} litraa vettä.
    {% endif %}
    </br>
    {% if critter_counts.species == 0 %}
      {{ subject }} ei ole eläimiä.
    {% elif critter_counts.species == 1 and critter_counts.individuals == 1 %}
      {{ subject }} on 1 laji ja 1 yksilö.
    {% elif critter_counts.species == 1 and critter_counts.individuals > 1 %}
      {{ subject }} on 1 laji ja {{ critter_counts.individuals }} yksilöä.
    {% else %}
      {{ subject }} on yhteensä {{ critter_counts.species }} lajia ja {{ critter_counts.individuals }} yksilöä.
    {% endif %}
    </br>
    {% if age.date %}
      Vanhin akvaario on pystytetty {{ age.date[8:10] }}-{{ age.date[5:7] }}-{{ age.date[:4] }}:
      {% if age.years == 1 %}
        1 vuosi ja
      {% elif age.years > 1 %}
        {{ age.years }} vuotta ja
      {% endif %}
      {{ age.days }} päivää sitten.
    {% endif %}

  </div>

  <h3>Akvaariot</h3>
  {% include "aquarium_list.html" %}

  <div class="pages">
    <a href="/user/{{ user.id }}/{{ 1 }}">ensimmäinen</a>
    <a href="/user/{{ user.id }}/{{ page - 1 }}">&lt;&lt;</a>
    Sivu {{ page }}/{{ page_count }}
    <a href="/user/{{ user.id }}/{{ page + 1 }}">&gt;&gt;</a>
    <a href="/user/{{ user.id }}/{{ page_count }}">viimeinen</a>
  </div>

{% endblock %}
